#body {
    background-color:#d9edf7;
    padding: 0px 16px;
}
h2 {
    font-size:300%;
}
p {
    font-size: 160%;
    margin-left:70px;
}
button {
    font-weight: bold;
    font-size: 150%;
}

.text-align-center {
    text-align: center;
    margin-top: 20px;
}
form {
    margin: 0 auto;
    width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}

#container-fluid {
    font-size: 250%;
    padding: 16px;
}
