{% extends "base.html" %}
    {% block content %}
        <h2 class="text-align-center">Timer for Redmine</h2>
        <br />
        {% load chartit %}
        {{ charts|load_charts:"container" }}

        <div id='container'> Chart will be rendered here </div>


        <form action="" method="post">
            {# This will display the radio button HTML for you #}
            {{ form.as_p }}
            {# You'll need a submit button or similar here to actually send the form #}
        </form>
        <input class="btn btn-primary btn-lg" type="submit" value="Change displayed categories" >
    {% endblock %}
